@mixin buttonStyling {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &:hover {
    background-color: orange;
    color: black;
  }
}

button {
  @include buttonStyling();
}

@mixin colorTransition {
  width: 150px;
  height: 150px;
  background: red;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 5s ease-out;

  &:hover {
    background-color: orange;
    color: black;
  }
}

.colorChangingSquare {
  @include colorTransition();
  background-color: black;
}
